<div class="fixed right-2 w-full top-2 p-3 z-10 flex flex-col space-y-4 items-center justify-center bg-gray-100 py-6">
    <% if(locals.type==="danger") {%>

    <%-include('./flash-danger',{message:locals.message})-%>

    <%} else if(locals.type==="success") {%>

    <%-include('./flash-success',{message:locals.message})-%>

    <%} else if(locals.type==="warning") {%>

    <%-include('./flash-warning',{message:locals.message})-%>

    <%} else if(locals.type==="infos") {%>

    <%-include('./flash-infos',{message:locals.message})-%>
    <%}%>
</div>