<div class="fixed right-2 top-2 z-20 hidden" id="infos">
    <div class="flex items-center bg-white shadow  rounded px-2" style="width: 24rem;">
        <div class="mr-6 bg-blue-500 rounded px-4 py-2 text-center -ml-3">
            <svg fill="none" viewBox="0 0 24 24" class="w-8 h-8 text-white" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
        </div>
        <div class="flex items-center rounded-lg rounded-l-none">
            <h2 class="text-blue-600 text-lg font-bold mr-2 ">Info</h2>
            <p class="text-sm text-gray-700" id="alert-infos">I Am An Alert</p>
        </div>
        <div class="flex justify-end flex-1">
            <svg fill="none" viewBox="0 0 24 24" class="w-4 h-4 text-red-600" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </div>
    </div>
</div>
<div class="flex flex-row h-screen antialiased text-gray-800">
    <div class="flex flex-row w-96 flex-shrink-0 bg-gray-100 p-4">
        <div class="flex flex-col w-full h-full pl-4 pr-4 py-4 -mr-4">
            <div class="flex flex-row items-center">
                <div class="flex flex-row items-center">
                    <div class="text-xl font-semibold">Messages</div>
                    <div
                        class="flex items-center justify-center ml-2 text-xs h-5 w-5 text-white bg-red-500 rounded-full font-medium">
                        5</div>
                </div>
                <div class="ml-auto">
                    <button class="flex items-center justify-center h-7 w-7 bg-gray-200 text-gray-500 rounded-full">
                        <svg class="w-4 h-4 stroke-current" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="mt-5">
                <div class="text-xs text-gray-400 font-semibold uppercase">ROOM</div>
            </div>
            <div class="mt-2">
                <div class="flex flex-col -mx-4">
                    <div class="relative flex flex-row items-center p-4">
                        <div class="absolute text-xs text-gray-500 right-0 top-0 mr-4 mt-3">5 min</div>
                        <div
                            class="flex items-center justify-center h-10 w-10 rounded-full bg-pink-500 text-pink-300 font-bold flex-shrink-0">
                            T
                        </div>
                        <div class="flex flex-col flex-grow ml-3">
                            <div class="text-sm font-medium">Cuberto</div>
                            <div class="text-xs truncate w-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Debitis, doloribus?</div>
                        </div>
                        <div class="flex-shrink-0 ml-2 self-end mb-1">
                            <span
                                class="flex items-center justify-center h-5 w-5 bg-red-500 text-white text-xs rounded-full">5</span>
                        </div>
                    </div>
                    <div
                        class="flex flex-row items-center p-4 bg-gradient-to-r from-red-100 to-transparent border-l-2 border-red-500">
                        <div
                            class="flex items-center justify-center h-10 w-10 rounded-full bg-pink-500 text-pink-300 font-bold flex-shrink-0">
                            T
                        </div>
                        <div class="flex flex-col flex-grow ml-3">
                            <div class="flex items-center">
                                <div class="text-sm font-medium">UI Art Design</div>
                                <div class="h-2 w-2 rounded-full bg-green-500 ml-2"></div>
                            </div>
                            <div class="text-xs truncate w-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Debitis, doloribus?</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div class="text-xs text-gray-400 font-semibold uppercase">Personal</div>
            </div>
            <div class="h-full overflow-hidden relative pt-2">
                <div class="flex flex-col divide-y h-full overflow-y-auto -mx-4">
                    <div class="flex flex-row items-center p-4 relative">
                        <div class="absolute text-xs text-gray-500 right-0 top-0 mr-4 mt-3">2 hours ago</div>
                        <div
                            class="flex items-center justify-center h-10 w-10 rounded-full bg-pink-500 text-pink-300 font-bold flex-shrink-0">
                            T
                        </div>
                        <div class="flex flex-col flex-grow ml-3">
                            <div class="text-sm font-medium">Flo Steinle</div>
                            <div class="text-xs truncate w-40">Good after noon! how can i help you?</div>
                        </div>
                        <div class="flex-shrink-0 ml-2 self-end mb-1">
                            <span
                                class="flex items-center justify-center h-5 w-5 bg-red-500 text-white text-xs rounded-full">3</span>
                        </div>
                    </div>
                    <div class="flex flex-row items-center p-4">
                        <div
                            class="flex items-center justify-center h-10 w-10 rounded-full bg-pink-500 text-pink-300 font-bold flex-shrink-0">
                            T
                        </div>
                        <div class="flex flex-col flex-grow ml-3">
                            <div class="flex items-center">
                                <div class="text-sm font-medium">Sarah D</div>
                                <div class="h-2 w-2 rounded-full bg-green-500 ml-2"></div>
                            </div>
                            <div class="text-xs truncate w-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Debitis, doloribus?</div>
                        </div>
                    </div>
                    <div class="flex flex-row items-center p-4">
                        <div
                            class="flex items-center justify-center h-10 w-10 rounded-full bg-pink-500 text-pink-300 font-bold flex-shrink-0">
                            T
                        </div>
                        <div class="flex flex-col flex-grow ml-3">
                            <div class="flex items-center">
                                <div class="text-sm font-medium">Sarah D</div>
                                <div class="h-2 w-2 rounded-full bg-green-500 ml-2"></div>
                            </div>
                            <div class="text-xs truncate w-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Debitis, doloribus?</div>
                        </div>
                    </div>
                    <div class="flex flex-row items-center p-4">
                        <div
                            class="flex items-center justify-center h-10 w-10 rounded-full bg-pink-500 text-pink-300 font-bold flex-shrink-0">
                            T
                        </div>
                        <div class="flex flex-col flex-grow ml-3">
                            <div class="flex items-center">
                                <div class="text-sm font-medium">Sarah D</div>
                                <div class="h-2 w-2 rounded-full bg-green-500 ml-2"></div>
                            </div>
                            <div class="text-xs truncate w-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Debitis, doloribus?</div>
                        </div>
                    </div>
                    <div class="flex flex-row items-center p-4">
                        <div
                            class="flex items-center justify-center h-10 w-10 rounded-full bg-pink-500 text-pink-300 font-bold flex-shrink-0">
                            T
                        </div>
                        <div class="flex flex-col flex-grow ml-3">
                            <div class="flex items-center">
                                <div class="text-sm font-medium">Sarah D</div>
                                <div class="h-2 w-2 rounded-full bg-green-500 ml-2"></div>
                            </div>
                            <div class="text-xs truncate w-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Debitis, doloribus?</div>
                        </div>
                    </div>
                </div>
                <div class="absolute bottom-0 right-0 mr-2">
                    <button
                        class="flex items-center justify-center shadow-sm h-10 w-10 bg-red-500 text-white rounded-full">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <section class="h-screen overflow-hidden flex items-center justify-center w-full" style="background: #edf2f7;">
        <div class="flex-1 p:2 sm:p-6 justify-between flex flex-col h-screen">
            <div class="flex sm:items-center justify-between py-3 border-b-2 border-gray-200">
                <div class="relative flex items-center space-x-4">
                    <div class="relative">
                        <span class="absolute text-green-500 right-0 bottom-0">
                            <svg width="20" height="20">
                                <circle cx="8" cy="8" r="8" fill="currentColor"></circle>
                            </svg>
                        </span>
                        <img src="https://images.unsplash.com/photo-1549078642-b2ba4bda0cdb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
                            alt="" class="w-10 sm:w-16 h-10 sm:h-16 rounded-full">
                    </div>
                    <div class="flex flex-col leading-tight">
                        <div class="text-2xl mt-1 flex items-center">
                            <span class="text-gray-700 mr-3" id="userConnect">Anderson Vanhron</span>
                        </div>
                    </div>
                </div>
                <div class="flex items-center space-x-2">
                    <button type="button"
                        class="inline-flex items-center justify-center rounded-lg border h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </button>
                    <button type="button"
                        class="inline-flex items-center justify-center rounded-lg border h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z">
                            </path>
                        </svg>
                    </button>
                    <button type="button"
                        class="inline-flex items-center justify-center rounded-lg border h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
            <div id="messages"
                class="flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
                <div class="chat-message">
                    <div class="flex items-end">
                        <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-2 items-start">
                            <div><span
                                    class="px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-300 text-gray-600">Can
                                    be verified on any platform using docker</span></div>
                        </div>
                        <!-- <img src="https://images.unsplash.com/photo-1549078642-b2ba4bda0cdb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
                            alt="My profile" class="w-6 h-6 rounded-full order-1"> -->
                        <div
                            class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0 order-1 ">
                            A
                        </div>
                    </div>
                </div>
                <div class="chat-message">
                    <div class="flex items-end justify-end">
                        <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-1 items-end">
                            <div><span
                                    class="px-4 py-2 rounded-lg inline-block rounded-br-none bg-blue-600 text-white ">Your
                                    error message says permission denied, npm global installs must be given root
                                    privileges.</span></div>
                        </div>
                        <!-- <img src="https://images.unsplash.com/photo-1590031905470-a1a1feacbb0b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
                            alt="My profile" class="w-6 h-6 rounded-full order-2"> -->
                        <div
                            class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0 order-1 ">
                            A
                        </div>
                    </div>
                </div>
                <div class="chat-message">
                    <div class="flex items-end">
                        <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-2 items-start">
                            <div><span class="px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600">Command was
                                    run
                                    with root privileges. I'm sure about that.</span></div>
                            <div><span class="px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600">I've update
                                    the
                                    description so it's more obviously now</span></div>
                            <div><span class="px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600">FYI
                                    https://askubuntu.com/a/700266/510172</span></div>
                            <div>
                                <span
                                    class="px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-300 text-gray-600">
                                    Check the line above (it ends with a # so, I'm running it as root )
                                    <pre># npm install -g @vue/devtools</pre>
                                </span>
                            </div>
                        </div>
                        <div
                            class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0 order-1">
                            A
                        </div>
                        <!-- <img src="https://images.unsplash.com/photo-1549078642-b2ba4bda0cdb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
                            alt="My profile" class="w-6 h-6 rounded-full order-1"> -->
                    </div>
                </div>
                <div class="chat-message">
                    <div class="flex items-end justify-end">
                        <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-1 items-end">
                            <div><span
                                    class="px-4 py-2 rounded-lg inline-block rounded-br-none bg-blue-600 text-white ">Any
                                    updates on this issue? I'm getting the same error when trying to install devtools.
                                    Thanks</span></div>
                        </div>
                        <div
                            class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0 order-1 ">
                            A
                        </div>
                    </div>
                </div>
                <div class="chat-message">
                    <div class="flex items-end">
                        <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-2 items-start">
                            <div><span
                                    class="px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-300 text-gray-600">Thanks
                                    for your message David. I thought I'm alone with this issue. Please, ? the issue to
                                    support it :)</span></div>
                        </div>
                        <div
                            class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0 order-1 ">
                            A
                        </div>
                    </div>
                </div>
                <div class="chat-message">
                    <div class="flex items-end justify-end">
                        <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-1 items-end">
                            <div><span class="px-4 py-2 rounded-lg inline-block bg-blue-600 text-white ">Are you using
                                    sudo?</span></div>
                            <div><span
                                    class="px-4 py-2 rounded-lg inline-block rounded-br-none bg-blue-600 text-white ">Run
                                    this command sudo chown -R `whoami` /Users/{{ your_user_profile }}/.npm-global/ then
                                    install the package globally without using sudo</span></div>
                        </div>
                        <!-- <img src="https://images.unsplash.com/photo-1590031905470-a1a1feacbb0b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
                            alt="My profile" class="w-6 h-6 rounded-full order-2"> -->
                        <div
                            class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0 order-1 ">
                            A
                        </div>
                    </div>
                </div>
                <div class="chat-message">
                    <div class="flex items-end">
                        <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-2 items-start">
                            <div><span class="px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600">It seems like
                                    you
                                    are from Mac OS world. There is no /Users/ folder on linux ?</span></div>
                            <div><span
                                    class="px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-300 text-gray-600">I
                                    have no issue with any other packages installed with root permission
                                    globally.</span>
                            </div>
                        </div>
                        <!-- <img src="https://images.unsplash.com/photo-1549078642-b2ba4bda0cdb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
                            alt="My profile" class="w-6 h-6 rounded-full order-1"> -->
                        <div
                            class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0 order-1 ">
                            A
                        </div>
                    </div>
                </div>
                <div class="chat-message">
                    <div class="flex items-end justify-end">
                        <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-1 items-end">
                            <div><span
                                    class="px-4 py-2 rounded-lg inline-block rounded-br-none bg-blue-600 text-white ">yes,
                                    I
                                    have a mac. I never had issues with root permission as well, but this helped me to
                                    solve
                                    the problem</span></div>
                        </div>
                        <!-- <img src="https://images.unsplash.com/photo-1590031905470-a1a1feacbb0b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
                            alt="My profile" class="w-6 h-6 rounded-full order-2"> -->
                        <div
                            class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0 order-1 ">
                            A
                        </div>
                    </div>
                </div>
                <div class="chat-message">
                    <div class="flex items-end">
                        <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-2 items-start">
                            <div><span class="px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600">I get the
                                    same
                                    error on Arch Linux (also with sudo)</span></div>
                            <div><span class="px-4 py-2 rounded-lg inline-block bg-gray-300 text-gray-600">I also have
                                    this
                                    issue, Here is what I was doing until now: #1076</span></div>
                            <div><span
                                    class="px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-300 text-gray-600">even
                                    i am facing</span></div>
                        </div>
                        <!-- <img src="https://images.unsplash.com/photo-1549078642-b2ba4bda0cdb?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144"
                            alt="My profile" class="w-6 h-6 rounded-full order-1"> -->
                        <div
                            class="flex items-center justify-center h-8 w-8 rounded-full bg-indigo-500 flex-shrink-0 order-1 ">
                            A
                        </div>
                    </div>
                </div>
                <div id="isWriting" class="inline-block text-green-500 text-xs -mb-3 cursor-pointer ">
                </div>
            </div>

            <form class="border-t-2 border-gray-200 px-4 pt-4 mb-2 sm:mb-0" id="form-message">
                <div class="flex flex-row items-center h-16 rounded-xl w-full px-4  text-gray-500 pl-12 bg-gray-100">
                    <div>
                        <label for="file" class="flex items-center justify-center text-gray-400 hover:text-gray-600">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13">
                                </path>
                            </svg>
                        </label>
                        <input id="file" type="file" class="hidden">
                    </div>
                    <div class="flex-grow ml-4">
                        <div class="relative w-full">
                            <input type="text"
                                class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10 focus:placeholder-gray-400 placeholder-gray-600 "
                                placeholder="Write your message!" id="userWriter">
                            <button
                                class="absolute flex items-center justify-center h-full w-12 right-0 top-0 text-gray-400 hover:text-gray-600">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="ml-4">
                        <button
                            class="flex items-center justify-center bg-indigo-500 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0">
                            <span>Send</span>
                            <span class="ml-2">
                                <svg class="w-4 h-4 transform rotate-45 -mt-px" fill="none" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>